html {
  font-size: 12px;
}

.right-column {
  position: absolute;
  height: 80%;
  width: 85%;
  overflow: scroll;
  left:15%;
  top: 40px;
  z-index: 10;
}

.image-container {
  height: 1rem;
  display: inline-block;
}

.image-container img {
  height: 100%;
  width: auto;
  margin-right: .3rem;
}

@media only screen and (min-width: 769px) {
  html {
    font-size: 16px;
  }

  .flex-container {
    display: flex;
  }

  .right-column,
  .left-column {
    padding: 0.5rem;
  }

  .left-column {
    flex-grow: 1;
  }

  .right-column {
    height: 100%;
    width: 700px;
    position: static;
    overflow: auto;
  }

  .image-container {
    height: 1rem;
    display: inline-block;
  }
  
  .image-container img {
    height: 100%;
    width: auto;
    margin-right: .3rem;
  }
}