.search-input {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  /* this is required in mobile so the hidden cart stays behind the search bar */
  z-index: 1;
}

.search-input-open-cart {
  opacity: 0;
  transition: all 0.3s ease;
}

.search-input-close-cart {
  opacity: 1;
  transition: all 0.3s ease;
}

.remove-button {
  opacity: 1;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* desktop */
@media only screen and (min-width: 769px) {
  .search-input-open-cart {
    opacity: 1;
  }

  .search-input-close-cart {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
